.technology-row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
    text-align: center;
    justify-content: center;
}

.technology-col{
    margin: 10px;
    padding: 10px;
}

.project-description{
    text-align: center;
}

.technology-description{
    display: block;
    padding: 20px;
}
.technology-header{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.technology-name{
    text-align: center;
    margin: 5px;
}

.technology-icon{
    height: 40px;
}

.technology-icon > img{
    height: 100%;
}