@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

html, body{
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}

.section-header{
  font-size: 35px;
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
  width: 210px;
  padding: 10px;
  margin: 20px auto;
}