nav {
  display: flex;
  height: 100%;
}

.nav-main{
  background-color: rgb(53, 121, 167);
  height: 50px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;

}

.nav-row{
  background-color: rgb(35, 83, 117);
  height: 50px;
  width: 100%;
  justify-content: right;
  padding-right: 30px;
  display: flex;
  margin: auto;
}

.nav-div{
  color: white;
  text-align: right;
  margin: auto 0 auto auto;
  display: flex;
  height: 50px;
}

.nav-a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  margin: auto 0 auto auto
}

.nav-a:hover {
  font-size: 20px;
}

#nav-a-name{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  margin: auto auto auto 0
}

#name{
  font-size: 20px;
  font-weight: bolder;
  /* width: 93%; */
  text-align: left;
  padding-left: 30px;
  margin: 0;
}

#skills{
  margin-left: auto;
}

#hamburger-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border: 2px solid black;
}

.hamburger-bars{
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

#hamburger-stack{
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
}

#hamburger-stack:hover{
  background-color: rgb(35, 83, 117);
}

#nav-a-name:hover{
  font-size: 20px;
}